@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Quicksand:wght@300..700&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

.wrapper{
    width: 50vw;
    margin: auto;
}

.wrap {
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.wrap-texto {
    color: black;
    text-align: center;
    width: 50%;
    font-family: "Quicksand", sans-serif;
}

.p-texto{
    display: block;
    text-align: center;
    padding-bottom: 50px;
    font-family: "Quicksand", sans-serif;
}

.proyectos {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    align-items: center;
    align-content: space-between;
    width: 100%;
    margin: auto;
}

.proyectos img{
    width: 128px;
    height: 128px;
    padding-inline: 52px;
    padding-left: 12px;
    margin-right: 30px;
}

.fila-1, .fila-2 {
    flex: 1, 50%;
}

.feedback {
    text-align: center;
    background-color: rgba(3, 135, 135, 0.651);
    color: white;
    font-family: "Quicksand", sans-serif;
}

.contenedor {
    border-width:4px;
    margin: 1px;
    display: flex;
    flex-wrap: nowrap;
}

.texto-izq {
    border-width:4px;
    margin: 5px; 
    font-family: "Quicksand", sans-serif;
}

ul {
    list-style: none;
    text-align: left;
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
}

li{
    color: black;
}

li.caja2{
    color: white;
}

h3{
    color: black;
}

.mapa{
    width: 450px;
    height: 300px;
}

footer.pie{
    height: 110px;
    background-color: grey; 
    color: white;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "header caja1 caja2"
    "header caja1 caja2"
    "header caja1 caja2";
}

.cajaFooter1{
    grid-area: header;
}

.cajaFooter2{
    grid-area: caja1;
}

.cajaFooter3{
    grid-area: caja2;
}

footer.final{
    height: 50px;
    background-color: black; 
    color: white; 
    display: grid;
    text-align: center;
    font-family: "Quicksand", sans-serif;
}

@media only screen and (max-width:600px){
    .wrapper{
        width: 100%;
    }
    
    .proyectos{
        flex-direction: row;
        height: 100%;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-content: center;
    }

    .proyectos img{
        padding-inline: 32px;
    }

    .fila-1, .fila-2{
        text-align: center;
    }

    .contenedor{
        flex-direction: column;
        align-content: center;
        align-items: center;
    }

    .texto-izq{
        
    }
}




