.wrap {
    width: 100vw;
    height: 70vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/header.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 

.wrap-texto {
    color: black;
    text-align: center;
    width: 50%;
}

.contenedor {
    display: flex;
    justify-content: center;
    text-align: center;
}

.caja1 {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.caja2 {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.caja3 {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.feedback {
    text-align: center;
    background-color: rgba(3, 135, 135, 0.651);
    color: white;
}








