.wrap {
    width: 100vw;
    height: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/header.jpg);
    background-size: cover;
    background-position: center;
}

.wrap-texto {
    color: black;
    text-align: center;
    width: 50%;
}

.contenedor {
    display: flex;
    justify-content: center;
}

.caja1 {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.caja2 {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}

.caja3 {
    width: 150px;
    height: 150px;
    margin-right: 30px;
}






